* {
    box-sizing: border-box;
}

body {
    background-color: #e9e8e8;

}

.all {
    background-color: #fff;
    width: 900px;
    max-width: 80%;
    margin: 20px auto;
    border-radius: 10px;
}

.header {
    text-align: center;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
}


.header h1 {
    font-size: 35px;
    font-weight: 600;
    color: #333;
}

.content p {
    font-size: 15px;
    color: #333;
    display: flex;
    align-items: center;
    padding: 5px 30px 5px 30px;
}

.startButton {
    display: flex;
    justify-content: center;
}

.startQuiz {
    background-color: rgb(98, 46, 77);
    color: #fff;
    font-size: 25px;
    font-weight: bold;
    padding: 10px 20px;
    margin: 45px 0 20px 0;
    border-radius: 5px;
    border: none;
}

.startQuiz:hover {
    background-color: rgb(139, 67, 110);
}

.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
    justify-content: center;
}

#questionParag {
    font-size: 26px;
    font-weight: bold;
    color: #333;
    margin-top: 20px;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.choiceButtons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 7px;
    height: 80px;
    width: 85%;
    margin: auto;
}

.btn {
    border-radius: 5px;
    background-color: rgb(98, 46, 77);
    color: whitesmoke;
}

.btn:hover {
    background-color: rgb(123, 59, 97);
}

hr {
    margin-top: 50px;
}

#answer {
    font-weight: italic;
    font-size: 15px;
    margin: 5px 10px 5px 10px;
}

#doneMsg {
    font-size: 23px;
    font-weight: bold;
    margin: 10px 0 30px 0;
    display: flex;
    justify-content: center;
}

#scoreMsg {
    font-size: 15px;
    margin: 20px 0 0 100px;
}

#score {
    font-size: 15px;
    margin: -17px 0 15px 220px;
}

#labelInitials {
    font-size: 15px;
    margin: 20px 0 0 100px;
}

#initials {
    font-size: 15px;
    margin: 5px 0 10px 0;
}

#timerCount {
    font-size: 15px;
    margin: 20px 0 0 100px;
}

#timeParag {
    font-size: 15px;
    margin: -18px 0 15px 60px;
}

.timer {
    margin: 10px 200px 10px 0;
}

.savedInfo {
    padding: 10px;
    margin: 5px 0 20px 30px;
}

#highScores {
    font-size: 20px;
    font-weight: bold;
}

ul {
    /* list-style-type: none; */
    padding: 10px;
    margin: 10px 0 30px 0;
}